---
layout: layouts/base.njk
isHome: true
---
{%- set t = i18n[lang] -%}
			<h1 class="screen-reader-text">{{ t.postsHeading }}</h1>
{% set loopPosts = posts %}{% include "partials/post-loop.njk" %}
{% set pageHrefs = pagination.hrefs %}{% set pageIndex = pagination.pageNumber %}{% include "partials/pagination.njk" %}
