---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for post in collections.postsByDate %}
	<url>
		<loc>{{ post.url | absolute(site.url) }}</loc>
		<lastmod>{{ post.date | isoDate }}</lastmod>
	</url>
{%- endfor %}
{%- for home in ['/', '/pl/'] %}
	<url>
		<loc>{{ home | absolute(site.url) }}</loc>
	</url>
{%- endfor %}
</urlset>
